/* Adding font */

@font-face {
    font-family: "Libre Baskerville";
    src: url("https://chabivz.github.io/Portfolio//assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
    src: url("https://chabivz.github.io/Portfolio//assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("ttf"),
    url("https://chabivz.github.io/Portfolio//assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("opentype"),
    url("https://chabivz.github.io/Portfolio//assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("ttf");

    font-family: "Libre Baskerville";
    src: url("/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
    src: url("/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("ttf"),
    url("/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("opentype"),
    url("/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("ttf");
}

html {
    background: #9D9AC2;
    /* background: linear-gradient(90deg, rgba(0,4,36,1) 50%, rgba(53,37,117,1) 100%, rgba(0,212,255,1) 100%); */
    color: EEE9F3;
    font-family: 'Courier New', Courier, monospace;
}

/* 
    Color
   https://paletton.com/#uid=5440u0k7LBY1mWf45NtcjtIhNoh
    color: EBEBF3; FONT
    color: C8C6DE; SECOND LAYER
    color: 9D9AC2; BASE
    color: 736EA5; DARK BASE
    color: 4C4687; DARKER BASE
    color: A994BE; BASE
    color: EEE9F3; FONT
    color: CFC2DC; LIGHTER
    color: E867A0; SECOND BASE
    color: 614083; DARKER LAYER

*/
/* Header CSS */

.header {
    border-style: groove;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Libre Baskerville', 'Courier New', Courier, monospace;
    /* height: 72px; */
    line-height: 1.7;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}
.header h1 {
    border-style: dotted;
    font-size: 30px; 
    letter-spacing: 3px;
}

.navigator {
    display: flex;
    /* flex-direction: column; */
    font-size: 20px;
    /* text-align: center; */
    height: 100%;
    color: #EBEBF3;
}

nav a {
    text-decoration: none !important;
    color: #EBEBF3;
}

.navigator  ul {  
    list-style-type: none;
    display: inline-block;
   
}

.navigator ul li {

    display: table-cell;
    padding: 0px 15px 0px 15px;
    border-style: dotted;
    letter-spacing: 2px;

}

/* Hovers */

.navigator ul li a:hover {
    color: #614083;
}

.header h1:hover {
    color: #614083;
}


/* Main CSS */



section {
    display: flex;
    border-style: dotted;
    align-items: center;
    flex-wrap: wrap;
}

/* Float Left || DIV container*/
.float-left {
    flex: 1;
    width: 33%;
    height: 100%;
    padding: 50px 40px;
    background-color: aqua;
    font-size: 28px;
    color: black;
    position: relative;
    text-align: center;

}
/* p Container */
.p-left {
    flex: 3;
    width: 66%;
    height: 100%;
    background-color: #yellow;
    font-size: 20px;
    padding: 100px 40px;
}

/* float right || DIV Container*/
.float-right {
    text-align: center;
    flex: 1;
    order: 2;
    width: 33%;
    height: 100%;
    padding: 50px 40px;
    background-color: aqua;
    font-size: 28px;
    color: black;
    position: relative;

}
/* P Container */
.p-right {
    flex: 3;
    order: 1;
    width: 66%;
    height: 150px;
    background-color: #yellow;
    font-size: 20px;
    padding: 100px 40px;
}
/* 
#contactme, #resume {
    flex: 2;
    width: 20%;
} */

/* MEDIA SCREEN */

@media screen and (max-width: 768px) {
    /* HEADER */

    /* MAIN */
    .article { 
        display: flex;
        flex-direction: column;
    }

}